
body {
    background-color: rgb(230, 230, 230);
}
.celular {
    width: 375px;
    height: 667px;
    background-color: #F3F3F3;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
.menu {
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color:#FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.logo {
    width: 75px;
    height: 53px;
    margin-top: 16px;
    margin-left: 22px;
}
.icone-menu {
    width: 50px;
    height: 40px;
    margin-bottom: 8px;
    margin-left: 210px;
}
.chat {
    margin-top: 103px;
    width: 100%;
    height: 470px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.rolar {
    position: relative;
}
.caixa-texto {
    width: 100%;
    min-height: 40px;
    font-family: Roboto;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    margin-top: 3px;
    font-size: 14px;
}
.type-message {
    background-color: #FFFFFF; 
}
.type-status {
    background-color: #DCDCDC; 
}
.type-private_message {
    background-color: #F9DEDE;
}

.texto { 
    width:100%;
    min-height: 10px;
}
.horario {
    color: #AAAAAA;
}
.nome,
.destinatario {
    color:#000000; 
    font-weight: 700;
}
.para,
.mensagem {
    color: #000000;
    font-weight: 400;
}

.escrever-texto {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.barra-escrever {
    width: 300px;
    height: 100%;
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}
.barra-escrever::placeholder {
    position: fixed;
    top: 30px;
    left: 17px;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #000000;
    text-align: start;
}
input {
    font-family: Roboto;
    font-size: 18px;
    padding: 17px;
    box-sizing: border-box;
}
.enviar {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 22px;
    right: 22px;
}
.esconder {
    display: none;
}
.logo-entrada {
    z-index: 2;
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-left: 122px;
}
.nome-escrever {
    width: 261px;
    height: 54px;
    margin-top: 94px;
    margin-left: 57px;

}
.nome-escrever::placeholder {
    justify-content: center;
    text-align: center;
    color: #AEAEAE;
    font-family: Roboto;
    font-size: 18px;
}
.entrar {
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;
    color:#696969;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-left: 128px;
}
h1 {
    padding: 12px;
}
.statusṔeople {
    z-index: 3; 
    width: 259px;
    height: 667px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0; 
    right: 0; 
}
.fundostatus {
    z-index: 3;
    position: absolute; 
    top: 0;
    left:0;
    width: 116px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: #000000; 
    text-align: center;
    padding: 35px;
}
.icone-people {
    width: 23px;
    height: 23px;
    position: absolute; 
    top: 10px;
    left: 10px;
}
.onlinePeople {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 14px;
    left: 40px;
}
.barrinhaOnline {
    margin: 0 auto;
    width: calc(100% - 45px);
    height: 23px;
    position: relative;
    padding: 5px;
    margin-top: 5px;
}
.statusGeral {
    z-index: 2;
}
.caixa-entrada {
    z-index: 3;
}
.barra {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #000000;
}